<p id="notice"><%= notice %></p>

<h1>Umbrellas</h1>

<div class"display_of_umbrellas">
  <div class="row">
    <div class="col-sm">
      <a href="#"><h1>Umbrella 1</h1></a>
      <img src="https://www.parasolumbrellas.com.au/wp-content/uploads/2014/06/Clifton-Classic-White-Open-LR.jpg">
      <p>Pretty cool umbrella<p>
      <strong>£ 38</strong>
    </div> <!-- end col -->
    <div class="col-sm">
      <a href="#"><h1>Umbrella 1</h1></a>
      <img src="https://www.parasolumbrellas.com.au/wp-content/uploads/2014/06/Clifton-Classic-White-Open-LR.jpg">
      <p>Pretty cool umbrella<p>
      <strong>£ 38</strong>
    </div> <!-- end col -->
  </div> <!-- row end -->
</div> <!--end of display of umbrellas -->

<div class"ruby_umbrellas">
  <div class="row">
    <% @umbrellas.each do |umbrella| %>
      <div class="col-sm">
        <h2><%= umbrella.name %></h2>
        <img src="https://www.parasolumbrellas.com.au/wp-content/uploads/2014/06/Clifton-Classic-White-Open-LR.jpg">
        <p><%= umbrella.description %></p>
        <p>Color: <%= umbrella.color %></p>
        <p>Price: £<%= umbrella.price.to_f %></p>
      </div>
    <% end %>
  </div> <!-- end row -->
</div><!-- end ruby umbrellas -->


<table class="table table-bordered table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Color</th>
      <th>Size</th>
      <th>Material</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @umbrellas.each do |umbrella| %>
      <tr>
        <td><%= umbrella.name %></td>
        <td><%= umbrella.description %></td>
        <td><%= umbrella.image_url %></td>
        <td><%= umbrella.color %></td>
        <td><%= umbrella.size %></td>
        <td><%= umbrella.material %></td>
        <td><%= link_to 'Show', umbrella %></td>
        <td><%= link_to 'Edit', edit_umbrella_path(umbrella) %></td>
        <td><%= link_to 'Destroy', umbrella, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="btn-lg" id="rain_button">
  <%= link_to 'New Umbrella', new_umbrella_path %>
</button>
