<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @umbrella.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @umbrella.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @umbrella.image_url %>
</p>

<%= link_to 'Edit', edit_umbrella_path(@umbrella) %> |
<%= link_to 'Back', umbrellas_path %>
