<div class="col-sm-12 col-md-6 col-lg-4 umbrella-thumbnail">
  <h2><%= umbrella.name %></h2>
  <%= image_tag("blank.jpg", class: "umbrella-bkg") %>
  <%= image_tag(umbrella.image_url, class: "img-fluid img-thumbnail umbrellas-thumbs")  %>
  <p><%= umbrella.description %></p>
  <p>Color: <%= umbrella.color %></p>
  <p>Material: <%= umbrella.material %></p>
  <p>Price: £<%= umbrella.price %></p>
  <%= link_to 'Show', umbrella %>
  <%= link_to 'Edit', edit_umbrella_path(umbrella) %>
  <%= link_to 'Destroy', umbrella, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
