<!DOCTYPE html>
<html>
  <head>

    <title>Sandokan</title>

    <meta property="og:url"           content="https://www.amazon.co.uk/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="prd" />
    <meta property="og:description"   content="prdlajs" />
    <meta property="og:image"         content="https://metrouk2.files.wordpress.com/2018/07/sei_21346761.jpg?w=748&h=450&crop=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron|Poiret+One" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>

<!-- ******** NAVBAR ******** -->
    <nav class="my_navbar navbar navbar-expand-lg">
      <a class="navbar-brand" href="#">TMS</a>

      <ul class="navbar-nav navbar-right ml-auto" >
        <li class= "nav-item active">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Products", umbrellas_path, class:"nav-link" %>
        </li>
        <li class= "nav-item active">
          <%= link_to "Orders", orders_path, class:"nav-link" %>
        </li>
        <li class= "nav-item active">
          <%= link_to "About", simple_pages_about_path, class:"nav-link" %>
        </li>
        <li class= "nav-item active">
          <%= link_to "Contact", simple_pages_contact_path, class:"nav-link" %>
        </li>
      </ul>
    </nav>
<!-- ********** NAVBAR END ********* -->

    <div class="containing_box">

    <%= yield %>

    <!-- <% sum = 4 + 4 %>
    <%= sum %> -->

    </div> <!--- container end --->
    <div id="empty-space"></div>

    <footer class="px-5 pb-3 pt-4">
      <div class="fb-container">
        <iframe class="fb-like d-flex" src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.amazon.co.uk%2F&width=100&layout=button_count&action=like&size=small&show_faces=true&share=false&height=21&appId=2024015090964981" width="100" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
      </div>

      <a href="https://twitter.com/careerfoundry?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @careerfoundry</a>

      <p class="copyright text-right">&copy; 2018 Mulligatawny Soup</P>
    </footer>
  </body>
</html>
